{% extends "base.html" %}
{% block page_title %}HOME{% endblock %}
{% block content %}
    <h5>{{ now }}</h5>
    <h3>
        {% for room in room_obj_list %}
            <h3>
                <a href="{% url 'rooms:detail' room.pk %}">{{ room.name }} / ${{ room.price }}</a>
            </h3>
        {% endfor %}
    </h3>
    <h4>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">prev</a>&nbsp;:&nbsp;
        {% else %}
            prev&nbsp;:&nbsp;
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
            {% if page == page_obj.number %}
                <font color="#ff8c00">{{ page }}</font>
            {% else %}
                <a href="?page={{ page }}">{{ page }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            &nbsp;:&nbsp;<a href="?page={{ page_obj.next_page_number }}">next</a>
        {% else %}
            &nbsp;: next
        {% endif %}

    </h4>
    <h5>Page : {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</h5>
{% endblock %}
