{% extends "base.html" %}
{% block page_title %}{{ room.name }}'s DETAIL{% endblock %}
{% block content %}

    <div class="container max-w-full h-75vh mb-20 flex -mt-5 border border-gray-500">
        <div class="h-full w-1/2 bg-cover bg-center border border-gray-500"
             style="background-image: url('{{ room.first_photo }}')"></div>
        <div class="h-full w-1/2 flex flex-wrap">
            {% for next_photo in room.get_next_four_photos %}
                <div class="bg-cover w-1/2 h-auto bg-center border border-gray-500"
                     style="background-image: url('{{ next_photo.file.url }}')"></div>
            {% endfor %}
        </div>
    </div>

{% endblock %}