{% extends "base.html" %}
{% block page_title %}HOME{% endblock %}
{% block content %}

    <div class="container mx-auto pb-10">
        <div class="bg-gray-800 h-50vh -mx-40 mt-32 mb-24 rounded-xl bg-cover bg-center"
             style="background-image: url(https://images.unsplash.com/photo-1536315238512-4c8cebdaaf93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format)"></div>

        <div class="flex flex-wrap -mx-40 mb-10">
            {% for room in room_obj_list %}
                {% include "mixins/room_card.html" with room=room %}
            {% endfor %}
        </div>

        <div class="container mx-auto text-2xl flex items-center justify-center">
            <span class="ml-20">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">
                    <i class="fas fa-arrow-circle-left"></i>
                </a>
            {% else %}
                <i class="fas fa-arrow-circle-left"></i>
            {% endif %}
            </span>
            <span class="ml-10">
            {% for page in page_obj.paginator.page_range %}
                {% if page == page_obj.number %}
                    <span class="text-red-500 mx-5">{{ page }}</span>
                {% else %}
                    <span class="mx-5"><a href="?page={{ page }}">{{ page }}</a></span>
                {% endif %}
            {% endfor %}
            </span>
            <span class="ml-10">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">
                    <i class="fas fa-arrow-circle-right"></i>
                </a>
            {% else %}
                <i class="fas fa-arrow-circle-right"></i>
            {% endif %}
            </span>
        </div>
    </div>
{% endblock content %}
